body{
    margin: 0;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}::-webkit-scrollbar-track {
  background: aliceblue ; 
}::-webkit-scrollbar-thumb {
  background: #888; 
}::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a, a:link, a:visited, a:focus, a:hover, a:active{       /*För att alla länkar ska ha samma färg som resten av texten*/
    color:aliceblue;
    text-decoration:none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 9999;

    width: 100%;
    height: 130px;
    background-color: #005986;
}
header img{
    max-width: 150px;
}
header p{
    font-size: 2.5rem;
    margin: 0;
}
header .h-div1{
    display: flex;
    justify-content: space-between;
    width: 12%;
}
header .fa-magnifying-glass:hover{
    cursor: pointer;
}
header .h-div1 input, header .h-div2 input{
    display: none;
}
header .fa-arrow-up{ /* När pilen trycks ned igen ska den rotera uppåt */
    transition: all 0.75s 0.25s;
    transform: rotate(0);
}
header .fa-arrow-up:hover{
    cursor: pointer;
}
header .h-div1 input:checked + .fa-arrow-up, header .h-div2 input:checked + .fa-arrow-up{ /* När pilen trycks ned ska den rotera uppåt */
    transform: rotate(180deg);
}

header .search-container{
    display: flex;
    align-items: center;
    gap: 2%;
    width: 30%;
}
header .search-container .fa-solid{
    font-size: 1.3rem;
}
header input{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: none;
}
.h-div2{
    display: flex;
    justify-content: space-between;
    width: 5.5%;
}

#frameContainer{
    display: flex;
    align-items: center;
    margin-top: 100px;
    color: #005986;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 56%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#frameContainer button{
    font-size: 1.3rem;
    font-weight: 700;
    width: 20%;
    padding: 8px 0;
    height: fit-content;
    border-radius: 8px;
}

#frame{
    width: 100%;
}
iframe{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

#dropdown{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
    background-color: #005986;
    width: 20%;
    height: 300px;

    font-size: 2rem;

    overflow-y: scroll;
    z-index: 9999;
    position: fixed;
    visibility: hidden;
}
#dropdown p{
    margin: 10px;
}
#dropdown p:hover{
    color: #555;
    cursor: default;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50px;

    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: fit-content;
}
.container h1{
    color: #005986;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    justify-content: flex-start !important;
}

.head-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.place-container .head-container{
    width: 100%;
}
.place-container .head-container p{
    color: aliceblue;
    margin: 15px 15px 0 15px;
    font-size: 2rem;
}
.condition-container{
    display: flex;
    align-items: flex-start;

    font-size: 1.5rem;
    width: 100%;
    margin-left: 30px;
}
.place-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    padding-bottom: 20px;
    width: 100%;
    background-color: #005986;
}
table{
    margin-top: 20px;
    width: 80%;
    padding: 5px;
}
table, td {
    border: 1px solid aliceblue;
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
}
.table-container{
    display: flex;
    flex-direction: row;
}

#your-location-container, #searched-container{
    width: 70%;
    scroll-margin: 50px;
}
#searched-container{ /* När hemsidan laddas har man inte sökt på något, därför börjar den med att inte synas. Ändras senare */
    display: none;
}


#loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    width: 100%;
}

@keyframes ldio-qhboyfg0l6f { /* Kod för laddnings ikonen */
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-qhboyfg0l6f div {
    position: absolute;
    animation: ldio-qhboyfg0l6f 1s linear infinite;
    width: 124px;
    height: 124px;
    top: 38px;
    left: 38px;
    border-radius: 50%;
    box-shadow: 0 7.2px 0 0 #005986;
    transform-origin: 62px 65.6px;
  }
  .loadingio-spinner-eclipse-qbgho4nb7xo {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-qhboyfg0l6f {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .ldio-qhboyfg0l6f div { box-sizing: content-box; }
  /* generated by https://loading.io/ */

footer{
    padding-top: 40px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;

    background-color: #005986;
    color: aliceblue;
}
footer img{
    max-width: 150px;
}
.footer-container{
    margin: 0 3%;
    display: flex;
    justify-content: space-between;
}
#footer-links{
    font-size: 1.4rem;
}
#footer-links h1{
    font-size: 1.7rem;
    text-decoration: underline;
}
#socialmedia{
    margin-top: 30px;
    font-size: 3rem;
    display: flex;
    gap: 20px;
}
.footer-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.4rem;
}

@media screen and (max-width:1000px){ /* Ökar bredden på dropdown menyn då den blir för smal för att se när skärmen blir liten */
    #dropdown{
        width: 40%;
    }
}

@media screen and (max-width:800px){ /* Ökar bredden på containern som innehåller infon om platserna då allt inte fick plats när skärmen blev liten */
    .place-container{
        width: 100%;
    }
}

@media screen and (max-width: 750px) { /* Ökar responsiviteten för headern genom att ta bort loggan */
    .h-div1 p, header a{
        display: none;
    }
    .h-div2{
        margin-right: 30px;
    }
}

@media screen and (max-width: 850px) { /* Ökar bredden ytterligare på informations containern när skärmen blir mindre */
    .container, #searched-container, #your-location-container{
        width: 100%;
    }
    .place-container table{
        width: 100%;
    }
}
@media screen and (max-width: 650px) { /* Ökar storleken på iframen och dropdown menyn för att se lättare på små skärmar */
                                       /* Ändrar även storleken på ikonerna för att se lättare */
    #frameContainer{
        width: 90%;
    }
    #dropdown{
        width: 80%;
    }
    #socialmedia{
        font-size: 2rem;
    }
}
@media screen and (max-width: 450px) { /* Gör att tabellerna visas på varandra eftersom att skärmen blev för smal */
    .table-container{
        flex-direction: column;
    }
}