body{
    margin: 0;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;

    width: 100%;
    height: 130px;
    background-color: #005986;
}
header img{
    max-width: 150px;
}
header p{
    font-size: 2.5rem;
    margin: 0;
}
.h-div1{
    display: flex;
    justify-content: space-between;
    width: 12%;
}
header .h-div1 input, header .h-div2 input{
    display: none;
}
.fa-arrow-up{
    transition: all 0.75s 0.25s;
    transform: rotate(0);
}
.fa-arrow-up:hover{
    cursor: pointer;
}
header .h-div1 input:checked + .fa-arrow-up, header .h-div2 input:checked + .fa-arrow-up{
    transform: rotate(180deg);
}

header .search-container{
    display: flex;
    align-items: center;
    gap: 2%;
    width: 30%;
}
header .search-container .fa-solid{
    font-size: 1.3rem;
}
header input{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: none;
}
.h-div2{
    display: flex;
    justify-content: space-between;
    width: 5.5%;
}

#frameContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    display: none;
}
.container h1{
    display: flex;
    justify-content: center;
}
#frame{
    width: 100%;
}
iframe{
    width: 100%;
    height: 300px;
}

#dropdown{
    margin-top: 130px;
    background-color: #005986;
    width: 20%;
    height: 250px;
    overflow-y: scroll;
    z-index: 9999;
    position: fixed;
    visibility: hidden;
}



#stad{
    color: black;
}


.container{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: fit-content;
}
.container h1{
    color: #005986;
    margin: 100px 0 0 0;
}
.head-container{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.place-container .head-container{
    width: 100%;
}
.place-container .head-container h1{
    color: aliceblue;
    margin: 15px 0 0 15px;
    font-size: 2vw;
}
.place-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    padding-bottom: 20px;
    width: 70%;
    background-color: #005986;
}
.place-container table{
    margin-top: 20px;
    width: 80%;
    padding: 5px;
}


#loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    width: 100%;
}

@keyframes ldio-qhboyfg0l6f {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-qhboyfg0l6f div {
    position: absolute;
    animation: ldio-qhboyfg0l6f 1s linear infinite;
    width: 124px;
    height: 124px;
    top: 38px;
    left: 38px;
    border-radius: 50%;
    box-shadow: 0 7.2px 0 0 #005986;
    transform-origin: 62px 65.6px;
  }
  .loadingio-spinner-eclipse-qbgho4nb7xo {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-qhboyfg0l6f {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-qhboyfg0l6f div { box-sizing: content-box; }
  /* generated by https://loading.io/ */



@media screen and (max-width: 750px) {
    .h-div1 p, .h-div2 p{
        display: none;
    }
    .place-container .head-container h1{
        font-size: 4vw;
    }
}

@media screen and (max-width:800px){
    .place-container{
        width: 100%;
    }
}